<%- include('../header'); -%>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<form method="post">
    <fieldset class="form-group">
        <label for="firstName" class="col-2 control-label">
            First Name: *
        </label>
        <input name="firstName" id="firstName" value="<%= manager.firstName %>" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="lastName" class="col-2 control-label">
            Last Name: *
        </label>
        <input name="lastName" id="lastName" value="<%= manager.lastName %>" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="role" class="col-2 control-label">
            Role: *
        </label>
        <input name="role" id="role" value="<%= manager.role %>" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="address" class="col-2 control-label">
            Address: *
        </label>
        <input name="address" id="address" value="<%= manager.address %>" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="birthDate" class="col-2 control-label">
            Birthdate: *
        </label>
        <input name="birthDate" id="birthDate" type="date" value="<%= manager.birthDate %>" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="hireDate" class="col-2 control-label">
            Hire Date: *
        </label>
        <input name="hireDate" id="hireDate" type="date" value="<%= manager.hireDate %>" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="department" class="col-2 control-label">
            Department: *
        </label>
        <input name="department" id="department" value="<%= manager.department %>" required />
    </fieldset>
    <fieldset class="form-group">
        <button class="btn btn-info offset-3">
            Update Manager
        </button>
        <hr />
    </fieldset>
</form>