<%- include('../header'); -%>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>


<table class="table table-striped table-hover">
    <thead>
        <th>ID#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Role</th>
        <th>Address</th>
        <th>Birthdate</th>
        <th>Hire Date</th>
        <th>Hourly Rate</th>
        <th></th>
    </thead>
    <tbody>
        <% employees.forEach(function(employee) { %>
        <tr>
            <td><%= employee.id %></td>
            <td><%= employee.firstName %></td>
            <td><%= employee.lastName %></td>
            <td><%= employee.username %></td>
            <td><%= employee.role %></td>
            <td><%= employee.address %></td>
            <td><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(employee.birthDate) %></td>
            <td><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(employee.hireDate) %></td>
            <td><%= employee.hourlyRate %></td>
            <td>
                <a href="/managers/edit/<%= employee._id %>" class="btn btn-primary">Edit</a>
                <a href="/managers/delete/<%= employee._id %>" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>
