<%- include('../../header'); -%>

  <h1><%= title %>
  </h1>

  <table class="table table-striped table-hover" id="shiftTable">
    <thead>
      <th>Job Code</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Assigned Worker</th>
      <th></th>
    </thead>
    <tbody>
      <% shifts.forEach(function(shift) { %>
        <% //if (user.username==shift.assignedWorker){ %>
          <tr>
            <td>
              <%= shift.jobCode %>
            </td>
            <td>
              <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric' , month: 'long' , day: '2-digit'
                }).format(shift.date) %>
            </td>
            <td>
              <%= new Intl.DateTimeFormat('en-GB', { timeStyle: 'short' }).format(shift.startTime) %>
            </td>
            <td>
              <%= new Intl.DateTimeFormat('en-GB', { timeStyle: 'short' }).format(shift.endTime) %>
            </td>
            <td>
              <%= shift.assignedWorker %>
            </td>
            <td>
              <%= new Intl.DateTimeFormat('en-GB', { timeStyle: 'short' }).format(shift.punchInTime) %>
            </td>
            <td>
              <%= new Intl.DateTimeFormat('en-GB', { timeStyle: 'short' }).format(shift.punchOutTime) %>
            </td>
            <td>
              <a href="/shift/edit/<%= shift._id %>" class="btn btn-primary">Edit</a>
              <a href="/shift/delete/<%= shift._id %>" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          <% //} %>
            <% }); %>

    </tbody>
  </table>


